@import url('https://fonts.googleapis.com/css2?family=Asset&family=Astloch:wght@400;700&family=Audiowide&family=Autour+One&family=Bitcount+Single:wght@100..900&family=Black+Ops+One&family=Cinzel:wght@400..900&family=Gravitas+One&family=Henny+Penny&family=Imperial+Script&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jim+Nightshade&family=Matemasie&family=Montenegrin+Gothic+One&family=Noto+Sans+Armenian:wght@100..900&family=Orbitron:wght@400..900&family=Playwrite+ID:wght@100..400&family=Rock+3D&family=Rubik+Distressed&family=Rubik+Iso&family=Rubik:ital,wght@0,300..900;1,300..900&family=Rye&family=Space+Grotesk:wght@300..700&family=Yuyu+Short&display=swap');


* {
margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;
}

::selection {
background-color: #000;
color: #ff0000;
}

.boss {
width: 100%;
min-height: 100vh;
height: auto;
display: flex;
justify-content: center;
align-items: center;
background-image: url(../galaxy-marvel.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: 50%;
}


/*
/////////////////////////////////

////////////MAIN/////////////////

///////////////////////////////// 
*/



#main {
width: 100%;
height: 700px;
display: flex;
justify-content: center;
align-items: center;
position: relative;
}

#girl-div  {
width: 300px;
height: 400px;
background-image: url(../girl_hi.png);
background-repeat: no-repeat;
background-size: cover;
background-position: 50%;
position: absolute;
top: 0;
transform: translateX(-150px);
transition: 0.5s;
cursor: url("../coffee-cup.png"), pointer;
border-radius: 50%;
}

#girl-div.active {
transform: translateX(150px);
}

.reg-div {
width: 750px;
max-width: 95%;
aspect-ratio: 14/9;
background-color: #fffffff9;
border-radius: 30px;
display: flex;
position: relative;
overflow: hidden;
animation: reg 1.2s forwards ease-in-out;
}

@keyframes reg {
from {
transform: translateY(50px);
opacity: 0;
}
to {
transform: translateY(0px);
opacity: 1;
}   
}

#register-close-div {
width: 50%;
height: 100%;
background-color: #5642b1f9;
position: absolute;
top: 0;
right: 0;
border-radius: 100px 30px 30px 100px;
display: flex;
justify-content: center;
align-items: center;
transition: 0.8s;
transform: translateX(0px);
overflow: hidden;
z-index: 9999;
}

#register-close-div.active {
transform: translateX(-380px);
border-radius: 30px 100px 100px 30px;
}

#register-close-div-sign-up {
width: 80%;
height: 80%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 20px;
position: absolute;
transform: translateX(0px);
transition: 0.8s;
}

#register-close-div-sign-up.active {
transform: translateX(1000px);
}


.register-close-div-sign-up-h1 {
font-family: "Rye", serif;
font-weight: 300;
font-style: normal;
color: #fff;
font-size: 2rem;
}

.register-close-div-sign-up-text {
color: #fff;
font-family: "Rye", serif;
font-weight: 300;
font-style: normal;
text-align: center;
font-size: 0.9rem;
}

#register-close-div-sign-up-btn {
width: 150px;
height: 40px;
background-color: transparent;
color: #fff;
border: 1px solid #fff;
border-radius: 10px;
cursor: pointer;
font-family: "Rye", serif;
font-weight: 300;
font-style: normal;
transition: 0.3s;
user-select: none;
}

#register-close-div-sign-up-btn:hover {
background-color: #000;
color: #5642b1;
}

#register-close-div-sign-in {
width: 80%;
height: 80%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 20px;
position: absolute;
transform: translateX(-1000px);
transition: 0.8s;
}

#register-close-div-sign-in.active {
transform: translateX(0px);
}

.register-close-div-sign-in-h1 {
font-family: "Rye", serif;
font-weight: 300;
font-style: normal;
color: #fff;
font-size: 2rem;
}

.register-close-div-sign-in-text {
color: #fff;
font-family: "Rye", serif;
font-weight: 300;
font-style: normal;
text-align: center;
font-size: 0.9rem;
}

#register-close-div-sign-in-btn {
width: 150px;
height: 40px;
background-color: transparent;
color: #fff;
border: 1px solid #fff;
border-radius: 10px;
cursor: pointer;
font-family: "Rye", serif;
font-weight: 300;
font-style: normal;
transition: 0.3s;
user-select: none;
}

#register-close-div-sign-in-btn:hover {
background-color: #000;
color: #5642b1;
}

#sign-in {
width: 50%;
height: 100%;
border-radius: 30px 0px 0px 30px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 15px;
transition: 0.8s;
transform: translateY(0px);
}

#sign-in.active {
transform: translateY(500px);
}

.sign-in-h1 {
font-family: "Rye", serif;
font-weight: 300;
font-style: normal;
user-select: none;
}

.sign-in-methods-div  {
width: 250px;
height: 50px;
display: flex;
justify-content: space-between;
align-items: center;
}

.sign-in-a {
text-decoration: none;
color: #000;
height: 85%;
}

.sign-in-methods {
height: 100%;
aspect-ratio: 1/1;
display: flex;
background-color: transparent;
justify-content: center;
align-items: center;
border-radius: 10px;
border: 1px solid #000;
cursor: pointer;
transition: 0.4s;
}

.sign-in-methods:hover {
background-color: #000;
color: #fff;
border-color: #fff;
}

.sign-in-other-text {
font-family: "Rye", serif;
font-weight: 300;
font-style: normal;
font-size: 0.8rem;
user-select: none;
}

#sign_in_form {
width: 90%;
max-width: 300px;
display: flex;
flex-direction: column;
gap: 10px;
}

.sign-in-input {
width: 100%;
height: 45px;
border-radius: 15px;
padding-left: 10px;
font-family: "Rye", serif;
font-weight: 300;
font-style: normal;
outline: none;
border: none;
background-color: #e2e2e2fc;
}

.sign-in-input::placeholder {
color: #000;
}

.sign-in-forgot-text {
font-family: "Rye", serif;
font-weight: 300;
font-style: normal;
font-size: 0.7rem;
}

#sign-in-btn {
width: 150px;
height: 40px;
background-color: #5642b1;
color: #fff;
border-radius: 10px;
border: none;
cursor: pointer;
font-family: "Rye", serif;
font-weight: 300;
font-style: normal;
transition: 0.3s;
user-select: none;
}

#sign-in-btn:hover {
background-color: #000;
color: #5642b1;
}

#sign-up {
width: 50%;
height: 100%;
border-radius: 0px 30px 30px 0px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 15px;
transition: 0.8s;
transform: translateY(500px);
}

#sign-up.active {
transform: translateY(0px);
}

.sign-up-h1 {
font-family: "Rye", serif;
font-weight: 300;
font-style: normal;
user-select: none;
}

.sign-up-methods-div  {
width: 250px;
height: 50px;
display: flex;
justify-content: space-between;
align-items: center;
}

.sign-up-a {
text-decoration: none;
color: #000;
height: 85%;
}

.sign-up-methods {
height: 100%;
aspect-ratio: 1/1;
display: flex;
background-color: transparent;
justify-content: center;
align-items: center;
border-radius: 10px;
border: 1px solid #000;
cursor: pointer;
transition: 0.4s;
}

.sign-up-methods:hover {
background-color: #000;
color: #fff;
border-color: #fff;
}

.sign-up-other-text {
font-family: "Rye", serif;
font-weight: 300;
font-style: normal;
font-size: 0.8rem;
user-select: none;
}

#sign_up_form {
width: 90%;
max-width: 300px;
display: flex;
flex-direction: column;
align-items: center;
gap: 13px;
}


.sign-up-input {
width: 100%;
height: 45px;
border-radius: 15px;
padding-left: 10px;
font-family: "Rye", serif;
font-weight: 300;
font-style: normal;
outline: none;
border: none;
background-color: #e2e2e2fc;
}

.sign-up-input::placeholder {
color: #000;
}

#sign-up-btn {
width: 150px;
height: 40px;
background-color: #5642b1;
color: #fff;
border-radius: 10px;
border: none;
cursor: pointer;
font-family: "Rye", serif;
font-weight: 300;
font-style: normal;
transition: 0.3s;
user-select: none;
}

#sign-up-btn:hover {
background-color: #000;
color: #5642b1;
}


/*
/////////////////////////////////////////

///////MEDIA QUERIES///////

//////////////////////////////////////////
*/



/*
/////////////////////////////////

///////TABLET & LAPTOP///////

///////////////////////////////// 
*/


@media (max-width: 1024px) {
 


}



/*
/////////////////////////////////

////////////MOBILE///////////////

///////////////////////////////// 
*/


@media (max-width: 768px) {


}
 


/*
/////////////////////////////////

///////THE SMALLEST MOBILE///////

///////////////////////////////// 
*/



@media (max-width: 480px) {


}